<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
    <title>Dinner Club</title>
</head>
<body>
<h1>What do you want to cook?</h1>
<h2 th:text="@{'Week Number: '+${chosen.week_number}}"></h2>
<br>

<label th:text="'Name of the cook: ' + ${person.first_name}"/>

<br>
<form action="/createDinner" method="post">
    <input type="hidden" name="week_number" th:value="${chosen.week_number}"/>
    <input type="hidden" name="fk_room_id" th:value="${person.room_id}"/>
    <input type="text" name="dinner_name" th:value="${dinner.dinner_name}"/>
    <input type="text" name="description" th:value="${dinner.description}"/>
    <br>
    <button type="submit">Submit Dinner Info</button>
</form>

<form th:action="@{'/'}" method="post">
    <input type="hidden" name="week_number" th:value="${chosen.week_number}"/>
    <button type="submit">Front Page</button>
</form>

</a>


</body>
</html>