<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
    <title>Dinner Club</title>
</head>
<body>

    <h1>Members signed up for dinner</h1>

    <table class="center">
        <thead>
        <tr>
            <th>Room Number</th>
            <th>Name</th>
            <th>Allergies</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!-- Thymeleaf loop der opretter personobjekter fra dataen i databasen og viser dem i en tabel. -->
        <tr th:each="persons: ${registeredEaters}">
            <td th:text="${persons.room_id}"/>
            <td th:text="${persons.first_name}"/>
            <td th:text="${persons.allergies}"/>
        </tr>
        </tbody>
    </table>



</body>
</html>