body{
    text-align: center;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    background-size: 250px 250px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 5px;
}
table, th, td{
    border: 1px solid black;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}
th{
    padding: 5px;
    background-color: yellow;
    color: black;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td{
    padding-left: 2px;
    padding-right: 2px;
}
a{
    text-decoration: none;
}
button{
    color: white;
    background: deepskyblue;
}
#table_upcoming{
    text-align: left;
    border-collapse: collapse;
}
tr:nth-child(n + 4) {
    visibility: hidden;
}
.tdview{
    width: 200px;
    word-wrap: break-word;
    float: left;
}