<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
    <title>Madklubben</title>
</head>
<body>
    <h1>Welcome to the Dinner Club's booking site!</h1>
    <h2></h2>
    <table>
        <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a> test 1 </a> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>

                <b href=""> <!--     Inde i b-tagget skal der være 1 knap der linker til info om dagens ret          -->
                    <button class="btn"></button>
                </b>

            </td>
            <td>
                <a>  </a> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>


                <b> <!--     Inde i b-tagget skal der være 1 knap der linker til info om dagens ret          -->
                    <button class="btn"></button>

                </b>

            </td>
            <td>
                <a>  </a> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>


                <b> <!--     Inde i b-tagget skal der være 1 knap der linker til info om dagens ret          -->
                    <button class="btn"></button>

                </b>

            </td>
            <td>
                <a>  </a> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>


                <b> <!--     Inde i b-tagget skal der være 1 knap der linker til info om dagens ret          -->
                    <button class="btn"></button>

                </b>

            </td>
            <td>
                <a>  </a> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>


                <b> <!--     Inde i b-tagget skal der være 1 knap der linker til info om dagens ret          -->
                    <button class="btn"></button>

                </b>

            </td>
            <td>
                <a>  </a> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>


                <b> <!--     Inde i b-tagget skal der være 1 knap der linker til info om dagens ret          -->
                    <button class="btn"></button>

                </b>

            </td>
            <td>
                <a> test 7 </a> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>


                <b> <!--     Inde i b-tagget skal der være 1 knap der linker til info om dagens ret          -->
                    <button class="btn"></button>

                </b>

            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>




    <a href="/loginpage">
        <button align="right" class="button">Login</button>
    </a>

</body>
</html>