<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
    <title>Dinner Club</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>

    <h1>Welcome to the Dinner Club's booking site!</h1>
    <h2 th:text="@{'Week Number: '+${chosen.week_number}}"/>

    <form th:action="@{'/'}" method="post">
        <select name="week_number" class="select" onchange="this.form.submit()">
            <option value="0">-- Choose Week --</option>
            <p th:each="w : ${wNumber}">
                <option th:text="${w.week_number}"/>
            </p>
        </select>
    </form>
    <table>
        <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td >
                <label th:text="${person[0]}"/> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>

                <form th:action="@{'/viewDinner'}" method="get">
                    <input type="hidden" name="week_number" th:value="${chosen.week_number}"/>
                    <input type="hidden" name="day" value="monday"/>
                    <input type="hidden" name="monday" th:value="${chosen.monday}"/>
                    <button type="submit">Dinner Details</button>
                </form>

            </td>
            <td>
                <label th:text="${person[1]}"/> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>

                <form th:action="@{'/viewDinner'}" method="get">
                    <input type="hidden" name="week_number" th:value="${chosen.week_number}"/>
                    <input type="hidden" name="day" value="tuesday"/>
                    <input type="hidden" name="tuesday" th:value="${chosen.tuesday}"/>
                    <button type="submit">Dinner Details</button>
                </form>

            </td>
            <td>
                <label th:text="${person[2]}"/> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>

                <form th:action="@{'/viewDinner'}" method="get">
                    <input type="hidden" name="week_number" th:value="${chosen.week_number}"/>
                    <input type="hidden" name="day" value="wednesday"/>
                    <input type="hidden" name="wednesday" th:value="${chosen.wednesday}"/>
                    <button type="submit">Dinner Details</button>
                </form>

            </td>
            <td>
                <label th:text="${person[3]}"/> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>

                <form th:action="@{'/viewDinner'}" method="get">
                    <input type="hidden" name="week_number" th:value="${chosen.week_number}"/>
                    <input type="hidden" name="day" value="thursday"/>
                    <input type="hidden" name="thursday" th:value="${chosen.thursday}"/>
                    <button type="submit">Dinner Details</button>
                </form>

            </td>
            <td>
                <label th:text="${person[4]}"/> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>

                <form th:action="@{'/viewDinner'}" method="get">
                    <input type="hidden" name="week_number" th:value="${chosen.week_number}"/>
                    <input type="hidden" name="day" value="friday"/>
                    <input type="hidden" name="friday" th:value="${chosen.friday}"/>
                    <button type="submit">Dinner Details</button>
                </form>

            </td>
            <td>
                <label th:text="${person[5]}"/> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>

                <form th:action="@{'/viewDinner'}" method="get">
                    <input type="hidden" name="week_number" th:value="${chosen.week_number}"/>
                    <input type="hidden" name="day" value="saturday"/>
                    <input type="hidden" name="saturday" th:value="${chosen.saturday}"/>
                    <button type="submit">Dinner Details</button>
                </form>

            </td>
            <td>
                <label th:text="${person[6]}"/> <!--     Inde i a-tagget skal listens navn stå          -->

                <br>

                <form th:action="@{'/viewDinner'}" method="get">
                    <input type="hidden" name="week_number" th:value="${chosen.week_number}"/>
                    <input type="hidden" name="day" value="sunday"/>
                    <input type="hidden" name="sunday" th:value="${chosen.sunday}"/>
                    <button type="submit">Dinner Details</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>


    <a href="/sign_up_page">
        <button>Sign Up</button>
    </a>

    <a href="/loginpage">
        <button>Login</button>
    </a>


    <!--
    <table id="table_upcoming">
        <tr>
        <thead>
            <th style="background: lawngreen;">Upcoming Dinners</th>
        </thead>
        </tr>
        <tbody>
            <tr>
                <td>
                    WEEK 1<br>
                    MONDAY: Rasmus Risengrød<br>
                    DISH: POTATIS
                </td>
            </tr>
            <tr>
                <td>
                    HEJSA
                </td>
            </tr>
            <tr>
                <td>
                    TEST
                </td>
            </tr>
        </tbody>
    </table>
    -->

</body>
</html>