<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
    <title>Dinner Club</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Password</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form action="/loginpage" method="post">
                    <td><input type="text" placeholder="Room Number" name="room_id"/></td>
                    <td><input type="password" placeholder="Password" name="password"/></td>
                    <td><button class="button" type="submit">Login</button></td>
                </form>
            </tr>
        </tbody>
    </table>
</body>
</html>