<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
    <title>Madklub</title>
</head>
<body>
<h1>New user sign up</h1>
<table>
    <thead>
    <tr>
        <th>Room Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Password</th>
        <th>Allergies</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form action="/sign_up_page" method="post">
            <td><input type="text" placeholder="Room Number" name="room_id"/></td>
            <td><input type="text" placeholder="First Name" name="first_name"/></td>
            <td><input type="text" placeholder="Last Name" name="last_name"/></td>
            <td><input type="password" placeholder="Password" name="password"/></td>
            <td><input type="text" placeholder="Potential Allergies" name="allergies"/></td>
            <td><button class="button" type="submit">Submit</button></td>
        </form>
    </tr>
    </tbody>
</table>



</body>
</html>